.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: .1rem solid var(--border);
  border-radius: .5rem;
  gap: 1rem;
  margin: 1rem;
}

.themeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  border: .1rem solid var(--border);
  border-radius: .5rem;
}

.select {
  padding: .3rem;
  border-radius: 99rem;
  border: .1rem solid var(--border);
  background-color: transparent;
}

:root:has(.select [value="☀️"]:checked) {
  color-scheme: light; /* para mudar scrolbar, caixa de inputs e etc...*/
  --background: #cfcfcf;
  --text: #212121;
  --border: #212121;
}

:root:has(.select [value="🌑"]:checked) {
  color-scheme: dark;
  --background: #000000;
  --text: #cfcfcf;
  --border: #c4c4c438;
}
